
#menu>li:nth-last-child(2) {
    display: none;
}

body .logo>a>svg {
    max-width: 250px;
}

body .logo .logo-switches svg {
    vertical-align: -3%;
}

body .logo>a>svg path {
    fill: #fff;
    stroke: none;
}

body .logo>a>svg>g>g>path {
    fill: #0f0;
}

body.dark .logo>a>svg path {
    fill: none;
    stroke: none;
}

body.dark .logo .logo-switches svg path,
body.dark .logo>a>svg>g>g>text>tspan,
body.dark .logo>a>svg>g>g>g>g>path,
body.dark .logo>a>svg>g>g>g>path {
    fill: #005ebd !important;
}

body.dark .logo>a>svg>g>g>path {
    fill: #92eb4e;
}

.header {
    min-width: 377px;
}

.header .logo>a {
    line-height: inherit;
    margin-top: 0;
}

.header .logo>a>svg {
    vertical-align: -29%;
}

.dark .header .logo>a>svg {
    vertical-align: -30%;
}

@media screen and (max-width: 645px) {
    .hmenu-panel .hmenu-drop-down .hmenu-body-contents>.hmenu-container:first-child>.hmenu-links>li:nth-child(2) {
        display: initial;
    }

    #menu>li:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 775px) {
    .hmenu-panel .hmenu-drop-down .hmenu-body-contents>.hmenu-container:first-child>.hmenu-links>li:nth-child(3) {
        display: initial;
    }

    #menu>li:nth-child(3) {
        display: none;
    }
}

