{{ if eq .RelPermalink "/" }}
<section class="index-page-intro-container">
    <span class="index-page-content-shooting-star"></span> 
    <span class="index-page-content-logo">
        <img class="index-page-content-logo-light" src="/header-elements-logo.svg">
        <img class="index-page-content-logo-dark" src="/header-elements-logo-dark.svg">
    </span> 
    <span class="index-page-content-slogan">
        A haven of efficiency and control<br>&nbsp; for virtual server management
    </span>
    <span class="index-page-content-button">
        <a href="/download/" class="btn btn-danger btn-rounded">
            <i class="wm wm-fw wm-download"></i>&nbsp;
            Try Virtualmin
        </a>
    </span>
    <span class="index-page-content-cover"></span>
    <span class="index-page-content-elements-cover"></span>
    <span class="index-page-content-bg-cover"></span>
    <span class="index-page-content-bg"></span>
</section>
{{ end }}