<script>
    (function () {
        // Define authentication state
        const menu = document.querySelector('#menu'),
            supportItem = document.querySelector('.menu-item--support'),
            signInItem = document.querySelector('.menu-item--singin'),
            userItem = document.querySelector('.menu-item--user'),
            avatar_url = localStorage.getItem("virtualmin-menu-item--user--url");
        if (avatar_url && avatar_url.toString().startsWith('http')) {
            const userAvatar = userItem.querySelector('a > img');
            userAvatar.src = avatar_url;
            userItem.classList.remove('hidden');
            menu.classList.add('menu-authenticated');
            document.documentElement.setAttribute('data-auth', 1);
        } else {
            signInItem.classList.remove('hidden');
            menu.classList.add('menu-unauthenticated');
            document.documentElement.setAttribute('data-auth', 0);
        }
        // https://cdn.forum.virtualmin.com/user_avatar/forum.virtualmin.com/ilia/144/10185_2.png
        if (signInItem && signInItem.classList.contains('hidden')) {
            supportItem.classList.remove('hidden');
        }
    })();
</script>
{{ if eq .RelPermalink "/" }}
<script>
    (function () {
        const $this = {};
        // Sticky header magic
        const header_sticky_class_str = "header-sticky",
            menu_active_class_str = "#menu > li > a.dropdown-menu > span.active",
            scrollFn = function (evt) {

                // If automatic scrollTo 
                if ($this.scrollToAuto) {
                    evt.preventDefault();
                    return;
                }

                // If automatic adjustment scroll is happening
                if ($this.scrollByAuto) {
                    $this.scrollByAuto = false;
                    evt.preventDefault();
                    return;
                }

                // Define direction of scroll
                $this.currentScroll = window.scrollY || document.documentElement.scrollTop;
                $this.lastScroll = 2; // down
                if ($this.currentScroll < $this.lastScrollTop) {
                    $this.lastScroll = 1; // up
                }
                $this.lastScrollTop = $this.currentScroll <= 0 ? 0 : $this.currentScroll;

                // Update header position
                const hero = document.querySelector(".index-page-intro-container"),
                    header = document.querySelector(".page-index > body > header"),
                    headerBounds = header.getBoundingClientRect(),
                    headerHeight = headerBounds.height;
                if (
                    $this.lastScroll === 2 &&
                    headerBounds.top <= 0 &&
                    !header.classList.contains(header_sticky_class_str)
                ) {
                    header.classList.add(header_sticky_class_str);
                    window.scrollBy(window.scrollY, +headerHeight);
                    $this.scrollByAuto = true;
                    window.dispatchEvent(new Event("resize")); // reposition dropdown
                } else if (
                    $this.lastScroll === 1 &&
                    hero.clientHeight - window.scrollY >= 0 &&
                    header.classList.contains(header_sticky_class_str)
                ) {
                    header.classList.remove(header_sticky_class_str);
                    window.scrollBy(window.scrollY, -headerHeight);
                    $this.scrollByAuto = true;
                    window.dispatchEvent(new Event("resize")); // reposition dropdown
                }

                // Wait for scroll to finish completely
                if ($this.scrollTimeout) {
                    clearTimeout($this.scrollTimeout);
                }

                // Stack to call it only once
                $this.scrollTimeout = setTimeout(function () {
                    // Trigger only within hero header
                    if (window.scrollY < window.innerHeight) {
                        // If dropdown is opened adjust its position (up or down)
                        if (document.querySelector(menu_active_class_str)) {
                            window.dispatchEvent(new Event("resize")); // reposition dropdown
                        }
                        // Auto scroll (special (needed) implementation of snap scrolling)
                        if (window.scrollY !== 0) {
                            if ($this.lastScroll === 1) {
                                window.scrollTo({
                                    top: 0,
                                    left: 0,
                                    behavior: 'smooth'
                                });
                                $this.scrollToAuto = true;
                            } else if ($this.lastScroll === 2) {
                                window.scrollTo({
                                    top: hero.clientHeight - headerHeight + 1,
                                    left: 0,
                                    behavior: 'smooth'
                                });
                                $this.scrollToAuto = true;
                            }
                        }
                    }
                    clearTimeout($this.scrollTimeout);
                }, 133);

                // Possibly scrolling to
                setTimeout(function () {
                    $this.scrollToAuto = false;
                }, 134);
            };
        window.addEventListener("scroll", scrollFn, false);

        // Trigger scroll event on initial load
        window.dispatchEvent(new Event("scroll"));
    })();
</script>
{{ end }}