<script>
    (function () {
        // Define authentication state
        const permalink = '{{ .RelPermalink }}',
            menu = document.querySelector('#menu'),
            supportItem = document.querySelector('.menu-item--support'),
            signInItem = document.querySelector('.menu-item--singin'),
            userItem = document.querySelector('.menu-item--user'),
            user__avatar_url = localStorage.getItem("virtualmin-menu-item--user--url"),
            user__admin = parseInt(localStorage.getItem("virtualmin-menu-item--user--admin")),
            user__admin_updates = parseInt(localStorage.getItem("virtualmin-menu-item--user--admin-updates")),
            user__shopping = parseInt(localStorage.getItem("virtualmin-menu-item--user--shoppings")),
            menuSetStatus = function (menu, auth, admin, adminUpdates) {
                menu.classList.add(auth ? 'menu-authenticated' : 'menu-unauthenticated');
                if (admin) {
                    menu.setAttribute('data-admin', 1);
                    menu.setAttribute('data-admin-updates', adminUpdates ? 1 : 0);
                }
                if (user__shopping) {
                    menu.setAttribute('data-shoppings', 1);
                }
            };
        if (user__avatar_url && user__avatar_url.toString().startsWith('http')) {
            const userAvatar = userItem.querySelector('a > img');
            userAvatar.src = user__avatar_url;
            userItem.classList.remove('hidden');
            menuSetStatus(menu, 1, user__admin, user__admin_updates);
            document.documentElement.setAttribute('data-auth', 1);
        } else {
            signInItem.classList.remove('hidden');
            menuSetStatus(menu, 0);
            document.documentElement.setAttribute('data-auth', 0);
        }
        // https://cdn.forum.virtualmin.com/user_avatar/forum.virtualmin.com/ilia/144/10185_2.png
        if (signInItem && signInItem.classList.contains('hidden')) {
            supportItem.classList.remove('hidden');
        }
        // For maintenance page in the shop (not the actual page)
        if (permalink &&
            (permalink.includes('/maintenance/') || permalink.includes('/error/'))) {
            document.querySelector('nav .menu-item--shop > a > span').classList.add('active');
            if (permalink.includes('/maintenance/')) {
                if (parseInt(localStorage.getItem("virtualmin-menu-item--user--admin"))) {
                    document.documentElement.setAttribute('data-admin', true);
                } else {
                    window.addEventListener('load', function () {
                        document.querySelector('.main .__maintenance__.alert>.alert.__admin__').remove();
                    });
                }
            }
        }
    })();
</script>
{{ if eq .RelPermalink "/" }}
<script>
    (function () {
        const $this = {};
        // Sticky header magic
        const header_sticky_class_str = "header-sticky",
            menu_active_class_str = "#menu > li > a.dropdown-menu > span.active",
            scrollFn = function (evt) {

                // If screen is too small, do not trigger
                if (!window.matchMedia("(min-width: 1200px)").matches ||
                    !window.matchMedia("(min-height: 720px)").matches) {
                    return true;
                }

                // Define direction of scroll
                $this.currentScroll = window.scrollY || document.documentElement.scrollTop;
                $this.lastScroll = 2; // down
                if ($this.currentScroll < $this.lastScrollTop) {
                    $this.lastScroll = 1; // up
                }
                $this.lastScrollTop = $this.currentScroll <= 0 ? 0 : $this.currentScroll;

                // Update header position
                const hero = document.querySelector(".index-page-intro-container"),
                    header = document.querySelector(".page-index > body > header"),
                    headerBounds = header.getBoundingClientRect(),
                    headerHeight = headerBounds.height;

                // If automatic scrollTo
                if ($this.scrollToAuto) {
                    if (window.scrollY <= parseInt(headerBounds.height) || parseInt(window.scrollY + $this.lastScrollTopPosCalc) >= parseInt($this.lastScrollTopPosOffset - $this.lastScrollTopPosCalc)) {
                        $this.scrollToAuto = null;
                        setTimeout(function () {
                            $this.scrollToAuto = false;
                        }, 180 * 4);
                    }
                    return true;
                }

                // If automatic adjustment scroll is happening
                if ($this.scrollByAuto) {
                    if ($this.scrollByAuto++ > 1) {
                        $this.scrollByAuto = false;
                    }
                    return true;
                }

                // Make adjustments
                if (
                    $this.lastScroll === 2 &&
                    headerBounds.top <= 0 &&
                    !header.classList.contains(header_sticky_class_str)
                ) {
                    $this.scrollByAuto = 1;
                    header.classList.add(header_sticky_class_str);
                    window.scrollBy(0, +headerHeight);
                    window.dispatchEvent(new Event("resize")); // reposition dropdown
                } else if (
                    $this.lastScroll === 1 &&
                    hero.clientHeight - window.scrollY >= 0 &&
                    header.classList.contains(header_sticky_class_str)
                ) {
                    $this.scrollByAuto = 1;
                    header.classList.remove(header_sticky_class_str);
                    window.scrollBy(0, -headerHeight);
                    window.dispatchEvent(new Event("resize")); // reposition dropdown
                }

                // Wait for scroll to finish completely
                if (typeof $this.scrollTimeout === "number") {
                    clearTimeout($this.scrollTimeout);
                }

                // Stack to call it only once
                if (!$this.scrollToAuto && $this.scrollToAuto !== null) {
                    $this.scrollTimeout = setTimeout(function () {
                        // Trigger only within hero header
                        if (window.scrollY < window.innerHeight / 2) {
                            // If dropdown is opened adjust its position (up or down)
                            if (document.querySelector(menu_active_class_str)) {
                                window.dispatchEvent(new Event("resize")); // reposition dropdown
                            }
                            // Auto scroll (special (needed) implementation of snap scrolling)
                            if (window.scrollY !== 0) {
                                if ($this.lastScroll === 1) {
                                    window.scrollTo({
                                        top: 0,
                                        left: 0,
                                        behavior: 'smooth',
                                    });
                                    $this.scrollToAuto = true;
                                }
                                else if ($this.lastScroll === 2) {
                                    $this.lastScrollTopPosOffset = parseInt(hero.clientHeight),
                                        $this.lastScrollTopPosCalc = parseInt(
                                            (headerHeight - Math.ceil(devicePixelRatio) -
                                                (devicePixelRatio < 1 ? Math.ceil(headerHeight / 9.999) : 1)));
                                }
                            }
                        }
                        clearTimeout($this.scrollTimeout);
                    }, 180);
                }
            };
        window.addEventListener("scroll", scrollFn, false);

        // Trigger scroll event on initial load
        window.dispatchEvent(new Event("scroll"));
    })();
</script>
<script>
    // On page load finished for index page only
    window.addEventListener("load", function () {
        // On resize event
        window.addEventListener("resize", function () {
            // Set the height of the footer
            const blockSeparatorSelStr = ".index-page-intro-separator-block",
                leftOffset = document.querySelector(".post-content").getBoundingClientRect().left,
                documentWidth = document.documentElement.getBoundingClientRect().width,
                blockSeparators = document.querySelectorAll(blockSeparatorSelStr);

            blockSeparators.forEach((blockSeparator) => {
                blockSeparator.style.width = documentWidth + "px";
                blockSeparator.style.marginLeft = -leftOffset + "px";
            });
        });
        // Trigger resize on load
        window.dispatchEvent(new Event("resize"));

    });
</script>
{{ end }}