<div class="hmenu-panel" data-click-outside="true" data-reference="dropdown-menu">
  <div class="hmenu-drop-down">
    <div class="hmenu-body">
      <div class="hmenu-body-contents">
        <div class="hmenu-container">
          <ul class="hmenu-links">
            <li class="hmenu-link--signin">
              <div><a href="/account/signin/" class="btn btn-danger">
                <span class="wm wm-user-circle"></span>&nbsp;&nbsp;Sign In</a></div>
            </li>
            <li class="hmenu-link--user">
              <div><a href="/account/" class="btn btn-primary">
                  <span class="wm wm-user-circle-auth"></span>&nbsp;&nbsp;My Account</a></div>
            </li>
            <li class="hmenu-link--download"><a href="/download/"><span>Download</span></a></li>
            <li class="hmenu-link--shop"><a href="/shop/"><span>Shop</span></a></li>
            <li class="hmenu-link--docs"><a href="/docs/"><span>Documentation</span></a></li>
            <li class="hmenu-link--forum">
              <a target='_self' href="https://forum.virtualmin.com/">
                <span>Forum</span>
              </a>
            </li>
            <li class="hmenu-link--search"><a href="/search/"><span>Search</span></a></li>
          </ul>
          <div class="clearfix"></div>
          <hr>
        </div>
        <div class="hmenu-container">
          <ul class="hmenu-links">
            <li><a href="/docs/faq/"><span>FAQ</span></a></li>
            <li class="hmenu-link--support"><a href="/support/"><span>Support</span></a></li>
            <li><a href="/changelog/"><span>Changelog</span></a></li>
          </ul>
          <div class="clearfix"></div>
          <hr>
        </div>
        <div class="hmenu-container">
          <ul class="hmenu-links">
            <li><a href="/about/"><span>About</span></a></li>
            <li><a href="/contact/"><span>Contact</span></a></li>
            <li><a href="/privacy/"><span>Privacy Policy</span></a></li>
            <li><a href="/terms-and-conditions/"><span>Terms and Conditions</span></a></li>
          </ul>
        </div>
        <hr>
        <div class="hmenu-container">
          <ul class="hmenu-links hmenu-buttons">
            <li class="hmenu-link-button">
              <button data-title="My Account" data-hotkey="a" class="float-left btn--user-account" data-auth-req="1"
                onclick="location.href='/account/'">
                <span class="wm wm-user-circle-auth"></span>
              </button>
              <button data-title="Shopping Cart" data-hotkey="c" class="float-left" data-auth-req="1" onclick="location.href='/cart/'">
                <span class="wm wm-shopping-basket"></span>
              </button>
              <button data-title="Admin Dashboard" data-hotkey="y" class="float-left float-group" data-auth-admin="1" data-auth-req="1"
                onclick="location.href='/wp-admin/'">
                <span class="wm wm-dashboard"></span>
              </button>
              <button data-title="Admin Updates" data-hotkey="u" class="float-left" data-auth-admin="1" data-auth-req="1"
                onclick="location.href='/wp-admin/update-core.php'">
                <span class="wm wm-refresh"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>