<div class="hmenu-panel" data-click-outside="true" data-reference="hmenu-panel-opener">
  <div class="hmenu-drop-down">
      <div class="hmenu-body">
          <div class="hmenu-body-contents">
              <div class="hmenu-container">
                  <ul class="hmenu-links">
                      <li><a class="btn btn-danger"><span class="wm wm-user-circle"></span>&nbsp;Sign in</a></li>
                      <li><a href="/download/"><span>Download</span></a></li>
                      <li><a href="/docs/"><span>Documentation</span></a></li>
                      <li><a href="/support/"><span>Support</span></a></li>
                      <li><a href="/shop/"><span>Shop</span></a></li>
                      <li><a target='_blank' href="https://forum.virtualmin.com/"><span>Forum</span>&nbsp;<svg fill="none" shape-rendering="geometricPrecision" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12"><path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path></svg></a></li>
                  </ul>
                  <div class="clearfix"></div>
                  <hr>
              </div>
              <div class="hmenu-container">
                  <ul class="hmenu-links">
                      <li><a href="/search/"><span>Search</span></a></li>
                  </ul>
                  <div class="clearfix"></div>
                  <hr>
              </div>
              <div class="hmenu-container">
                  <ul class="hmenu-links">
                      <li><a href="/archives/"><span>Changelog</span></a></li>
                  </ul>
                  <div class="clearfix"></div>
                  <hr>
              </div>
              <div class="hmenu-container">
                  <ul class="hmenu-links">
                      <li><a href="/about/"><span>About</span></a></li>
                      <li><a href="/contact/"><span>Contact</span></a></li>
                      <li><a href="/privacy/"><span>Privacy Policy</span></a></li>
                      <li><a href="/terms-and-conditions/"><span>Terms and Conditions</span></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
