
Quickly find the guides and tutorials you need to make the most of Virtualmin by using the search bar on the left, or explore to get a glimpse of our resources.

<h3 id="installation">Installation</h3>
<div class="docs-cards-container">
  <div class="docs-card">
    <h4 class="docs-title" data-nospy="1" id="os-support">OS Support</h4>
    <p>Learn about the operating systems that are supported and recommended by Virtualmin.</p>
      <a href="/docs/os-support" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
  <div class="docs-card">
    <h4 class="docs-title" data-nospy="1" id="installation-guide">Installation Guides</h4>
    <p>Comprehensive guides for automated and manual installation processes of Virtualmin.</p>
    <a href="/docs/installation/guides" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
</div>

<h3 id="faq">FAQ</h3>
<div class="docs-cards-container-links">
  <div class="docs-card-links">
    <a href="/docs/professional-features" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">How do Virtualmin Pro and GPL differ?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
  <div class="docs-card-links">
    <a href="/docs/faq/#how-do-i-upgrade-from-gpl-to-pro" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">How to upgrade from GPL to Pro?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
  <div class="docs-card-links">
    <a href="/docs/faq/#how-do-i-renew-an-expired-license" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">How to renew an expired license?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
  <div class="docs-card-links">
    <a href="/docs/faq/#why-do-i-see-license-error-message" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">Why do I see license error message?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
  <div class="docs-card-links">
    <a href="/docs/server-components/how-to-add-an-ssl-certificate" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">How to add an SSL certificate to my domain?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
  <div class="docs-card-links">
    <a href="/docs/server-components/configuring-multiple-php-versions" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">How to configure multiple PHP versions?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
  <div class="docs-card-links">
    <a href="/docs/server-components/troubleshooting-dns/#how-do-i-setup-nameservers-for-my-server" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">How to setup nameservers for my server?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
  <div class="docs-card-links">
    <a href="/docs/server-components/troubleshooting-emails/#verifying-email-server-connectivity" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">How to check if my server is email capable?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
  <div class="docs-card-links">
    <a href="/docs/server-components/troubleshooting-websites/#the-wrong-site-shows-up" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">Why does the wrong site show up?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
  <div class="docs-card-links">
    <a href="/docs/system-optimization/low-memory" class="btn btn-outline-primary btn-sm">
      <span class="btn-text">How to handle crashes when low on memory?</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i>
    </a>
  </div>
</div>

<h3 id="getting-started">Getting Started</h3>
<div class="docs-cards-container docs-cards-container-3x">
  <div class="docs-card">
    <h4 class="docs-title" data-nospy="1" id="navigation-essentials">Navigation Essentials</h4>
    <p>Learn the basics of navigating through our interface to manage your services.</p>
    <a href="/docs/getting-started/how-to-navigate-in-virtualmin" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
  <div class="docs-card">
    <h4 class="docs-title" data-nospy="1" id="managing-virtual-servers">Managing Virtual Servers</h4>
    <p>Detailed steps on creating virtual servers and understanding the different types and account levels.</p>
      <a href="/docs/getting-started/how-to-create-virtual-servers" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
  <div class="docs-card">
    <h4 class="docs-title" data-nospy="1" id="easy-file-navigation">Easy File Navigation</h4>
    <p>Navigate and modify virtual server files with ease using detailed HTML file manager guide.</p>
      <a href="/docs/getting-started/how-to-use-file-manager" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
</div>

<h3 id="troubleshooting">Troubleshooting</h3>
<div class="docs-cards-container docs-cards-container-4x">
  <div class="docs-card">
    <h4 class="docs-title" data-nospy="1" id="troubleshooting-repositories">Troubleshooting Repositories</h4>
    <p>Resolve common issues with repository configuration and access to maintain seamless software updates.</p>
    <a href="/docs/installation/troubleshooting-repositories" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
  <div class="docs-card">
    <h4 class="docs-title" data-nospy="1" id="troubleshooting-dns">Troubleshooting DNS</h4>
    <p>Address DNS problems that can affect your website's accessibility and email deliverability.</p>
      <a href="/docs/server-components/troubleshooting-dns" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
  <div class="docs-card">
    <h4 class="docs-title" data-nospy="1" id="troubleshooting-emails">Troubleshooting Emails</h4>
    <p>Tackle email delivery issues to ensure your communication channels stay uninterrupted.</p>
      <a href="/docs/server-components/troubleshooting-emails" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
  <div class="docs-card">
    <h4 class="docs-title" data-nospy="1" id="troubleshooting-databases">Troubleshooting Databases</h4>
    <p>Fix frequent database connectivity and performance issues to keep your applications running smoothly.</p>
      <a href="/docs/server-components/troubleshooting-databases" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
</div>
