
<h3>Installation</h3>

<div class="docs-cards-container">
  <div class="docs-card">
    <h4 class="docs-title">OS Support</h4>
    <p>Learn about the operating systems that are supported and recommended by Virtualmin.</p>
      <a href="/docs/os-support" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
  <div class="docs-card">
    <h4 class="docs-title">Installation Guides</h4>
    <p>Comprehensive guides for automated and manual installation processes of Virtualmin.</p>
    <a href="/docs/installation/guides" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
</div>

<h3>Getting Started</h3>

<div class="docs-cards-container">
  <div class="docs-card">
    <h4 class="docs-title">Title 1</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quam elit, posuere ac tortor non, volutpat
      commodo dui.</p>
    <a href="/docs/XXXX" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
  <div class="docs-card">
    <h4 class="docs-title">Title 2</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quam elit, posuere ac tortor non, volutpat
      commodo dui.</p>
      <a href="/docs/XXXX" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
  <div class="docs-card">
    <h4 class="docs-title">Title 3</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quam elit, posuere ac tortor non, volutpat
      commodo dui.</p>
      <a href="/docs/XXXX" class="btn btn-outline-primary btn-sm"><span class="btn-text">Learn more</span>&nbsp;&nbsp;<i class="wm wm-xs wm-fw wm-chevron-right"></i></a>
  </div>
</div>
