<!-- TESTIMONY -->
<section class="index-page-intro-separator-block index-page-intro-block-testimony index-page-intro-block-download">
  <span class="index-page-intro-block-testimony-text">
    <i class="wm wm-fw wm-download wm-2x"></i>
    <p>
        <span>
            Elevate your web hosting experience with Virtualmin today!
        </span>
    </p>
    <a href="/download/" class="btn btn-danger btn-rounded">
        <i class="wm wm-fw wm-download"></i>&nbsp;
        Try Virtualmin! 
    </a>
  </span>
</section>
<!-- END TESTIMONY -->
