<!-- FEATURES -->
<section>
  <div class="docs-cards-container-links docs-cards-container-links-icon-large">
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-web"></span></span>
      <span class="text">
        <span class="inner-text">Powerful and flexible domain accounts, allowing users to manage their websites</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-dns"></span></span>
      <span class="text">
        <span class="inner-text">Manage DNS locally or integrate with external services like Cloudflare, Google Cloud DNS,
          Amazon Route 53</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-mail"></span></span>
      <span class="text">
        <span class="inner-text">Manage mailboxes with spam/antivirus protection, forwarders, auto-responders, and
          aliases, including Amazon SES support</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-database"></span></span>
      <span class="text">
        <span class="inner-text">Database management with data export, import, and delegated control for users</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-users"></span></span>
      <span class="text">
        <span class="inner-text">Delegate management with domain owner and reseller accounts for fine-grained access
          control</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-key"></span></span>
      <span class="text">
        <span class="inner-text">Enhanced security with two-factor authentication, brute force protection, and many other
          security features</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-file-signature"></span></span>
      <span class="text">
        <span class="inner-text">Log handling, service monitoring, updates alerts, and detailed statistics</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-save"></span></span>
      <span class="text">
        <span class="inner-text">Streamlined backup, migration, and cloud storage integration with Dropbox, Google Drive,
          and Amazon S3</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-update"></span></span>
      <span class="text">
        <span class="inner-text">Easily installable web applications, such as WordPress, Joomla, Drupal, phpBB, phpMyAdmin
          and many others</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-terminal"></span></span>
      <span class="text">
        <span class="inner-text">Manage your server in your browser with SSH-like power and control using interactive
          terminal</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-security"></span></span>
      <span class="text">
        <span class="inner-text">Utilize FirewallD or ConfigServer Security and Firewall for robust server
          protection</span>
      </span>
    </div>
    <div class="docs-card-links docs-card-links-icon">
      <span class="icon"><span class="wm wm-fw wm-certificate"></span></span>
      <span class="text">
        <span class="inner-text">Effortlessly request and deploy free SSL certificates with Let's Encrypt for securing
          various services</span>
      </span>
    </div>
  </div>
</section>
<!-- END FEATURES -->

<!-- TESTIMONY -->
<section class="index-page-intro-separator-block index-page-intro-block-testimony">
  <span class="index-page-intro-block-testimony-text">
    <i class="wm wm-fw wm-quote-right wm-2x"></i>
    <p>
      <span>
        The strength of Virtualmin lies in its minimalistic approach, utilizing the OS's provided software to keep your systems lean. Its non-intrusive nature and respect for your server configurations, along with the ease of migration from cPanel/Plesk and straightforward backup solutions, makes it indispensable.
      </span>
    </p>
  </span>
</section>
<!-- END TESTIMONY -->
