
<div class="docs-cards-container">
    <div class="docs-card">
      <h4 class="docs-title">Flexibility where you need it</h4>
      <p>Virtualmin is unlike anything else, when it comes to flexibility and power. Designed by system administrators for system administrators, it works with you to configure services and accounts in the way you choose.</p>
    </div>
    <div class="docs-card">
      <h4 class="docs-title">Ease of use where you want it</h4>
      <p>Virtualmin isn’t just for hard core system administrators. It scales back the complexity of the user interface based on the privileges of the logged in user, and allows delegation of tasks, based on skill and level of trust.</p>
    </div>
    <div class="docs-card">
      <h4 class="docs-title">Maximize efficiency</h4>
      <p>Virtualmin has always been focused on automating away repetitive tasks without impeding your ability to customize. Simplifying complex tasks is a Virtualmin specialty.</p>
    </div>
    <div class="docs-card">
      <h4 class="docs-title">Extensible, scriptable, customizable</h4>
      <p>Virtualmin was made to be extended, scripted, and customized. With a modular architecture, you can write new modules and themes, drive it from scripts or other programs, and create Server Templates to suit your needs.</p>
    </div>
    <div class="docs-card">
      <h4 class="docs-title">Command line friendly</h4>
      <p>With Virtualmin, working from the user interface is not the only way to do it. With complete command line access to nearly all user interface functions, and the ability to configure most services using standard text editors and tools, Virtualmin works your way.</p>
    </div>
    <div class="docs-card">
      <h4 class="docs-title">Professional support</h4>
      <p>Virtualmin support is provided by the people who build and maintain the software. When you file a support ticket with us, you’ll receive prompt, expert, advice. Tickets are usually answered within 24 hours, and every member of our staff has years of experience.</p>
    </div>
</div>
