<!-- TESTIMONY -->
<section class="index-page-intro-separator-block index-page-intro-block-testimony index-page-intro-block-download">
  <span class="index-page-intro-block-testimony-text">
    <i class="wm wm-fw wm-heartbeat wm-2x"></i>
    <p>
        <span>
            Experience faster, smarter hosting with Virtualmin Pro!
        </span>
    </p>
    <a href="/shop/" class="btn btn-danger btn-rounded">
        <i class="wm wm-fw wm-md wm-virtualmin-tick"></i>&nbsp;
        Get Virtualmin Pro!
    </a>
  </span>
</section>
<!-- END TESTIMONY -->
