<!-- MAINTENANCE -->
<div class="__maintenance__ alert alert-secondary">
  <i class="wm wm-fw wm-sm wm-cog"></i> <strong>Under Maintenance</strong><br>
    <p>We're just tidying up a few things for the shop - shouldn't take more
      than a few minutes. It's all part of the usual upkeep to keep everything running smoothly for you.</p>

    <p>In the meantime, have you checked out our <a href="https://forum.virtualmin.com">Forums</a>? It’s a
      cozy spot to catch up on discussions or share your thoughts. No rush, though, we’ll have the shop up and
      running for you very soon.</p>
      <div class="__admin__ alert alert-warning">
        <i class="wm wm-fw wm-sm wm-users-cog"></i> <strong>Admin Note</strong><br>
        <p>
          Normally, the shop leaves native maintenance mode automatically after updates.
          If it doesn't, simply remove the <tt>.maintenance</tt> file from the
          website's root. For manually activated maintenance, switch it off in the admin panel.
        </p>
      </div>
</div>
<!-- END MAINTENANCE -->