<!-- MAINTENANCE -->
<div class="__maintenance__ alert alert-primary">
  <i class="wm wm-fw wm-sm wm-cog"></i> <strong>Under Maintenance</strong><br>
    <p>We're just tidying up a few things for the shop - shouldn't take more
      than a few minutes. It's all part of the usual upkeep to keep everything running smoothly for you.</p>

    <p>In the meantime, have you checked out our <a href="https://forum.virtualmin.com">Forums</a>? It’s a
      cozy spot to catch up on discussions or share your thoughts. No rush, though, we’ll have the shop up and
      running for you very soon.</p>
</div>
<!-- END MAINTENANCE -->